@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto");
.app {
  background-color: #fcfaf2;
  min-height: 100vh;
  font-family: "Roboto Regular";
  display: flex;
  flex-direction: column;
  align-items: center; }

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1.1em;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Roboto bold";
  margin-bottom: 20px; }
  header .link-wrap {
    display: flex;
    justify-content: space-around; }
  header a {
    text-decoration: none;
    color: #fff;
    margin: 0 20px; }
    header a:hover {
      color: #fad689; }

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.card {
  display: flex;
  width: 80%;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .card .img-wrap {
    width: 30%;
    height: 500px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    background-image: url(photo.png);
    background-size: cover;
    background-position: cneter; }
  .card .info {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    color: #333; }
    .card .info .phone {
      display: flex; }
      .card .info .phone div {
        margin: 5px; }
    .card .info .interest {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .card .info .interest div {
        margin: 5px; }
      .card .info .interest ::before {
        content: "•";
        color: #3a8fb7;
        padding-right: 8px; }
    .card .info > div {
      margin: 10px; }

.list {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .list .item {
    margin: 10px;
    padding: 5px; }
    .list .item .time {
      font-style: italic;
      color: #3a8fb7;
      padding-left: 20px;
      opacity: 0.5; }
    .list .item .sub_title::before {
      content: "•";
      color: #3a8fb7;
      padding-right: 8px; }

.title {
  font-family: "Roboto Medium";
  font-size: 1.5em;
  display: block;
  margin: 5px;
  color: #333; }

.sub_title {
  font-family: "Roboto Bold";
  font-size: 1.2em;
  display: block; }

@media all and (max-width: 1000px) {
  .card {
    align-items: center;
    flex-direction: column; }
    .card .img-wrap {
      width: 100%;
      background-position: center 25%; }
  .list {
    width: 80%; } }

@media all and (max-width: 700px) {
  header {
    flex-direction: column;
    align-items: center;
    margin: 0; }
    header .link-wrap {
      flex-direction: column;
      align-items: center; }
  .card {
    width: 100%; }
    .card .phone {
      flex-direction: column; }
    .card .img-wrap {
      max-width: 200px;
      max-height: 200px;
      border-radius: 50%; }
  .list {
    width: 100%; } }
